
body {
    background-color: cadetblue; 
    color: white;
}
nav{
    display:flex;
    justify-content:space-between;
}
.parent-div{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.centered-div{

    align-items: center;
    text-decoration: none;
}
a{
    text-decoration: none;
}