
<!DOCTYPE html>
{% load static  %}

<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="{% static 'css/style.css' %}">


  <title>{% block title %} {% endblock title %}</title>
</head>
<body>

{% block header %}
  <nav>
    <div class="nav-left">
      <a href="{% url  'quizPage'  %}"> Quiz</a>
    </div>
    <div class="nav-right">

        {% if user.is_authenticated %}
        <form action="{% url 'logout' %}" method="post">
            {% csrf_token %} 
            <button type="submit">Logout</button>
        </form>
        {% else %}

      <a href="{% url 'login' %}">Login</a>
      {% endif %}
    </div>
  </nav>
  {% endblock header %}
 
  
  {% block content  %}
  {% endblock content %}
  

  {% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li class="{{ message.tags }}">{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

</body>
</html>