{% extends 'base.html' %}

{% block title %} Quiz Details Page {% endblock title %}

{% block header %}
{% endblock header %}

{% block content %}

<h1>Quiz Page</h1>
<div class="parent-div">
  <div class="centered-div">
    <h2>{{ quiz.title|upper }}</h2>
    
    <form method="POST" id="quizform" action="{% url 'sumbitPage' quiz.id %}">
      {% csrf_token %}
      
      {% for q in questions %}
        <div class="question-block">
          <h3>{{ q.text|upper }}</h3>

          {% for choice in q.choices.all %}
            <div>
              <input type="radio" id="choice_{{ choice.id }}" name="question_{{ q.id }}" value="{{ choice.id }}">
              <label for="choice_{{ choice.id }}">{{ choice.text }}</label>
            </div>
          {% endfor %}
        </div>
      {% endfor %}

      <button type="submit">Submit</button>
    </form>
  </div>
</div>

{% endblock content %}
