{% extends 'base.html' %}

{% block title %} index page-1 {% endblock title %}

{% block header %}
{% endblock header %}


{% block content %}

<h1>Quiz Page</h1>
<div class="parent-div">
  <div class="centered-div">

    {{quiz.title| upper }}
    {% for q in questions  %}

    <h2> {{q | upper}}</h2>

   {% for choice in q.choices.all %}

   <input type="radio" id="choice_{{choice.id}}" name="questions_{{q.id}}" value="{{choice.id}}" checked >
    <label for="choice_{{choice.id}}">{{choice.text}}</label><br>
    {% endfor %}

    {% endfor %}
  </div>
</div>

{% endblock content %}